<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <script type="text/javascript" src="{{asset "js/vendor/fastclick.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/modernizr.js"}}"></script>

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/ichi.css"}}" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans|Roboto&subset=latin,cyrillic' rel="stylesheet">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<nav class="top-bar hide-for-large-up" data-topbar {{#if @blog.cover}}style="background: none"{{/if}}>
  <ul class="title-area">
    <li class="name">
      
    </li>
    <li class="home"><a class="fi-home" href="{{@blog.url}}"></a></li>
    <li class="toggle-topbar"><a href="#" id="trigger-overlay" class="fi-list"></a></li>
  </ul>

<div class="overlay overlay-scale">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
            {{navigation}}
        </ul>
    </nav>
</div>

</nav>

<div class="row">

<div class="small-16 medium-16 large-4 columns head-area{{#if @blog.cover}} bgimage{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>

<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <ul class="side-nav blog-menu show-for-large-up">
                {{navigation}}
            </ul>
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img alt="{{@blog.title}}" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <hr>
            <p class="blog-description">{{@blog.description}}</p>
            <div class="blog-network">
                                        <a href="//twitter.com/Marfapr" target="_blank"><img src="/img/etc/header/twitter-3.png" alt="Twitter"></a>
                                        <a href="//www.facebook.com/Marfapr" target="_blank"><img src="/img/etc/header/facebook.png" alt="Facebook"></a>
                                        <a href="//vk.com/themarfa" target="_blank"><img src="/img/etc/header/rus-vk-02.png" alt="VK"></a>
                                        <a href="//gplus.to/marfa/" target="_blank"><img src="/img/etc/header/google.png" alt="Google Plus"></a>
                                        <a href="//ru.linkedin.com/in/marfapr" target="_blank"><img src="/img/etc/header/linkedin.png" alt="LinkedIn"></a>
                                        <a href="//blog.themarfa.name/feed.xml" target="_blank"><img src="/img/etc/header/rss.png" alt="RSS"></a>
            </div>
        </div>
    </div>
</header>

</div>


<div class="small-16 medium-16 large-12 columns main-column">
    {{! Everything else gets inserted here }}
    {{{body}}}
</div>

</div>
    <script type="text/javascript" src="{{asset "js/dest/built.min.js"}}"></script>

    <script>
      $(document).foundation();
    </script>
</body>
</html>
