{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <span class="post-meta label"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></span>

            <section class="post-content">
                {{content}}
                        {{#if tags}}
                        <aside class="tags fi-pricetag-multiple">{{tags prefix="Опубликовано в "}}</aside>
                        {{else}}
                        <aside class="tags fi-pricetag-multiple">Нет тегов</aside>
                        {{/if}}
            </section>
                <section class="author">
                    <header>
                        <span>Об авторе</span>
                    </header>
                    <section>
                        <h4>{{author.name}}</h4>
                        {{#if author.image}}<img src="{{author.image}}">{{/if}}
                        {{#if author.location}}<span>{{author.location}}</span>{{/if}}
                        {{#if author.website}}<a href="{{author.website}}">{{author.website}}</a>{{/if}}
                    </section>
                    <footer>
                         <p>{{author.bio}}</p>
                    </footer>
                </section>            
            <hr>
            <footer class="post-footer">

            <p>Не забываем поделиться статьей и подписаться на мой <a href="//blog.themarfa.name/feed.xml" target="_blank" title="RSS-канал">RSS-канал</a>.</p>
            <p>Читайте меня в: <a href="https://www.evernote.com/pub/marfapr/themarfaname" target="_blank" title="Evernote">Evernote</a>, <a href="https://www.facebook.com/Marfapr" target="_blank" title="Facebook">Facebook</a>, <a href="https://plus.google.com/+КонстантинДокучаев" target="_blank" title="Google +">Google+</a>, <a href="https://www.pinterest.com/themarfa/" target="_blank" title="Pinterest">Pinterest</a>, <a href="https://www.pushbullet.com/channel?tag=oneperson" target="_blank" title="Pushbullet">Pushbullet</a>, <a href="http://telegram.me/themarfa" target="_blank" title="Telegram">Telegram</a>, <a href="//twitter.com/Marfapr" target="_blank" title="Twitter">Twitter</a>, <a href="https://vk.com/themarfa" target="_blank" title="VK">VK</a>.</p>
            <p>Всегда рад ответить на ваши комментарии.</p>
            <p>Для бизнес предложений пишите на biz@themarfa.name</p>

        <div class="clearfix"></div>
                    <hr>

            </footer>

        {{/post}}
        <h3 class="title-disqus"><span class="fi-comments"></span>Discussions</h3>
        <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'example'; // required: replace example with your forum shortname
    var disqus_identifier = '{{post.id}}'; // make sure to use the post.id as an identifier, otherwise disqus will use the pages url per default, which might be problematic...
 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </article>
    
    <div class="row">
        <footer class="small-16 columns site-footer">
            <!-- <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a> -->
            <div class="inner">
                 <section class="copyright"><p><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license"><img alt="Лицензия Creative Commons " src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" style="border-width:0"></a> | <a href="//themarfa.name">All-In-One Person</a></p></section>
            </div>
        </footer>
    </div>

</main>
